body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./pixelart.png");
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Background overlay */
    text-align: center;
    padding-top: 100px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    color: black;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#quitBtn {
    background-color: #f44336;
}

#quitBtn:hover {
    background-color: #e53935;
}
