.herobody {
  background-color: #ca4444; /* A warm shade of red */
  height: 100vh; /* Ensures the background covers the entire viewport */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-me-text {
  position: fixed;
  bottom: 0;
  left: 50%; /* Position it in the center */
  transform: translateX(-50%); /* Adjust to perfectly center */
  color: white;
  font-size: 14px; /* Adjust as needed */
  padding: 10px; /* Optional padding */
  font-style: oblique;
  transition: opacity 0.01s ease;
  font-weight: bold;
}

#canvas1 {
  /* border: 5px solid black; */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 700px;
  max-width: 90%;
  max-height: 90%;
}

#canvas1:hover {
  cursor: pointer;
}

.tiny_clover {
  left: 6%;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.tiny_clover:hover {
  cursor: pointer;
}

.containerr {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.luck-bar {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #f50136;
  border-radius: 5%;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1000;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 500px) {
  .first, .second, .third {
    font-size: 4rem !important;
  }
  .pet-me-text {
    padding: 1px;
    font-size: 12px;
    font-weight: bolder;
    width: 250px;
    z-index: 100000;
  }
}