#game-region {
  width: 400px;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
}

.dot {
  width: 80px;
  height: 80px;
  /* background-color: #00f; */
  border-radius: 50%;
  display: block;
  position: relative;
}

.status-icon {
  top: 5%;
  left: 5%;
  float: left;
  position: relative;
}

svg {
  width: 25px;
  height: 25px;
}

.correct {
}

.correct svg {
  fill: green;
}

.wrong {
}

.wrong svg {
  fill: red;
}
