@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

body {
  background-color: black;
  color: white;
  font-family: 'Gilroy', 'Montserrat', sans-serif;
}

svg {
  width: 25px;
  height: 25px;
}

.modal {
  color: black;
}

.modal-header {
  background-color: #f00c;
}

.modal-body {
  background: linear-gradient(135deg, #fff 0%, #f003 100%);
}

#start-btn {
  background-color: #f00c;
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Gilroy', 'Montserrat', sans-serif;
  border-color: #f00;
  border-radius: 0;
  padding: 10px 22px;
}

.game-region {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  max-width: 360px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.tile1,
.tile2,
.tile3,
.tile4,
.tile5,
.tile6,
.tile7,
.tile8,
.tile9 {
  border: 1px solid lightgray;
  background: url('/assets/theme/puzzle.png');
  background-size: 300%;
  cursor: pointer;
  max-width: 120px;
  width: 33vw;
  aspect-ratio: 1 / 1;
}

.tile1 {
  background-position: left top;
}
.tile2 {
  background-position: center top;
}
.tile3 {
  background-position: right top;
}
.tile4 {
  background-position: left center;
}
.tile5 {
  background-position: center center;
}
.tile6 {
  background-position: right center;
}
.tile7 {
  background-position: left bottom;
}
.tile8 {
  background-position: center bottom;
}
.tile9 {
  background: gray;
  cursor: default;
}

#theme-reveal {
  overflow-y: scroll !important;
}

#theme-reveal p {
  font-size: 16px;
  font-family: 'Gilroy', 'Montserrat', sans-serif;
  margin: 0 0 15px;
  line-height: 24px;
  font-weight: 400;
  color: #ddd;
  text-align: center;
}

img {
  max-width: 100%;
}

.home-btn {
  font-size: 16px;
  font-family: 'Gilroy', 'Montserrat', sans-serif;
  display: inline-block !important;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid transparent;
  text-transform: uppercase;
  padding: 13px 20px;
  border-radius: 40px;
  margin: 7px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  color: rgba(255, 0, 36, 0.7);
  background: #201010;
}

.home-btn:hover {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  #theme-reveal p {
    font-size: 24px;
    line-height: 32px;
  }
  img {
    max-width: 75%;
  }
}

@media only screen and (min-width: 1200px) {
  #theme-reveal p {
    font-size: 30px;
    line-height: 40px;
  }
  img {
    max-width: 50%;
  }
}
