.herobody {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  background: #1f2028;
  flex-direction: column;
}

/*
  LUCK THEME START
*/

/*

  LUCK THEME END
*/

/* for the text */
/* 
@import url("https://fonts.googleapis.com/css?family=Roboto:700");

body {
  font-family: "Roboto";
  /* background-color: #131417;   */
.containerr {
  position: absolute;
  top: 50%; /* Vertically center */
  left: 0; /* Align it to the leftmost edge of the screen */
  margin-left: 0; /* Ensure no margin is affecting the position */
  transform: translateY(-50%); /* Keep this to center vertically */
  color: #e5e5e5;
  font-size: 4rem;
  text-transform: uppercase;
  z-index: 10000;
}

.animation {
  height: 100px;
  overflow: hidden;
  /* margin-left: 1rem; */
  padding-top: 0.8rem;
  margin-top: 60px;
}
@media only screen and (min-width: 1200px) {
  .animation {
    margin-top: 0px; /* Adjust the width for large screens */
  }
  .containerr {
    font-size: 5.21rem;
  }
}
.first div {
  margin-top: 20px;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 4.81rem;
  margin-bottom: 1.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}
.handjet-ideas div {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Use a specific weight */
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 2;
}

.handjet-worth div {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600; /* Use a specific weight */
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 2;
}

.handjet-spreading div {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Use a specific weight */
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 2;
}

/* Color styling for the text */
.first div {
  color: rgb(255, 255, 255);
}
.second div {
  color: rgb(255, 255, 255);
}
.third div {
  color: rgb(255, 255, 255);
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
