body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black; 
    color: white;
}

.background {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.image-section {
    position: relative;
}

.top-image {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.text-section {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    max-width: 900px;
    margin: 20px auto;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: firebrick;
}
p {
    text-align: center;
    line-height: 1.6;
}
