body, html {
  margin: 0;
  padding: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1027%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(44%2c 83%2c 166%2c 1)'%3e%3c/rect%3e%3cpath d='M1035 117L1034 393' stroke-width='8' stroke='url(%23SvgjsLinearGradient1028)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1301 156L1300 432' stroke-width='10' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M629 422L628 711' stroke-width='10' stroke='url(%23SvgjsLinearGradient1028)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1104 449L1103 671' stroke-width='10' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1387 552L1386 298' stroke-width='8' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1224 461L1223 839' stroke-width='8' stroke='url(%23SvgjsLinearGradient1028)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M257 172L256 507' stroke-width='6' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M35 10L34 156' stroke-width='10' stroke='url(%23SvgjsLinearGradient1028)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M795 352L794 70' stroke-width='8' stroke='url(%23SvgjsLinearGradient1028)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M285 493L284 89' stroke-width='6' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M469 270L468 -30' stroke-width='10' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M306 276L305 547' stroke-width='6' stroke='url(%23SvgjsLinearGradient1028)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M794 199L793 529' stroke-width='6' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M948 396L947 558' stroke-width='10' stroke='url(%23SvgjsLinearGradient1028)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1355 203L1354 -113' stroke-width='6' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M904 542L903 883' stroke-width='10' stroke='url(%23SvgjsLinearGradient1028)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M167 218L166 -91' stroke-width='10' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1227 415L1226 627' stroke-width='10' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M62 88L61 -302' stroke-width='8' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M109 423L108 837' stroke-width='8' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M158 401L157 243' stroke-width='6' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1359 204L1358 346' stroke-width='6' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M745 460L744 129' stroke-width='8' stroke='url(%23SvgjsLinearGradient1028)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M489 407L488 132' stroke-width='8' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1414 526L1413 192' stroke-width='6' stroke='url(%23SvgjsLinearGradient1028)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M111 475L110 712' stroke-width='6' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M309 134L308 -166' stroke-width='8' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M365 387L364 599' stroke-width='6' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M987 507L986 192' stroke-width='8' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M198 56L197 322' stroke-width='8' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1241 105L1240 -204' stroke-width='10' stroke='url(%23SvgjsLinearGradient1028)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M246 211L245 -198' stroke-width='10' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M786 383L785 44' stroke-width='10' stroke='url(%23SvgjsLinearGradient1028)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1369 100L1368 376' stroke-width='10' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M769 311L768 117' stroke-width='10' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M553 91L552 233' stroke-width='6' stroke='url(%23SvgjsLinearGradient1029)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1027'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1028'%3e%3cstop stop-color='rgba(31%2c 59%2c 118%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(31%2c 59%2c 118%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1029'%3e%3cstop stop-color='rgba(31%2c 59%2c 118%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(31%2c 59%2c 118%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.header {
  display: flex;
  align-items: center;
  height: 100vh;
  color: white;
  padding-left: 5%;
  font-family: 'Revalia', cursive;
}

.drop {
  height: 70vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.drop-image {
  width: 100vw;
}

.header h1 {
  font-size: 5vh;
}

.header span {
  font-style: italic;
}

.reddit-intro {
  font-family: 'Revalia', cursive;
  display: flex;
  justify-content: center;
  padding: 5%;
  color: white;
  text-align: center;
}

.instagram-intro {
  font-family: 'Revalia', cursive;
  display: flex;
  justify-content: center;
  padding: 5%;
  color: white;
  text-align: center;
}

.twitter-intro {
  font-family: 'Revalia', cursive;
  display: flex;
  justify-content: center;
  padding: 5%;
  color: white;
  text-align: center;
}

/* Start of Instagram */

.instagram-section {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.instagram-card {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.instagram-header {
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: block;
}

#instagram-account-handle {
  font-weight: bolder;
  margin-left: 2%;
}

.instagram-image {
  width: 10%;
  display: block;
}

.instagram-stats {
  display: block;
  padding-left: 2%;
  padding-top: 2%;
}

.instagram-icons {
  font-size: 150%;
}

.instagram-likes-number {
  font-weight: bolder;
  font-size: 2vh;
  padding-bottom: 1%;
}

#instagram-post-image {
  width: 80vw;
  display: block;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

#instagram-account-image {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

#instagramLike {
  color: red;
}

/* End of Instagram */

/* Start of Reddit */

.reddit-section {
  padding-top: 7%;
  padding-bottom: 7%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.reddit-card {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  width: 90vw;
  border-radius: 5px;
  word-wrap: break-word;
}

.reddit-votes {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #f2f2f2;
}

.reddit-post {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
}

.reddit-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: gray;
  padding-top: 10px;
  font-size: 1.4vh;
}

.reddit-image {
  display: block;
  width: 100%;
}

#redditUpvote {
  color: red;
  font-weight: bolder;
}

/* End of Reddit */

/* Start of Twitter */

.twitter-section {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter-card {
  background-color: white;
  display: block;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10px;
  width: 80vw;
}

.twitter-account {
  display: flex;
  border-bottom: 1px solid lightgrey;
}

.twitter-account-details {
  margin-left: 3%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
}

.twitter-tweet {
  font-size: 3vh;
  padding-top: 1%;
  padding-bottom: 1%;
}

.twitter-account-stats {
  font-size: 1.3vh;
  color: grey;
  padding-bottom: 2%;
  border-bottom: 1px solid lightgrey;
}

.twitter-share {
  display: flex;
  justify-content: space-evenly;
  font-size: 2vh;
  padding-top: 2%;
  padding-bottom: 2%;
}

.twitter-stats {
  color: grey;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid lightgrey;
  font-size: 1.5vh;
}

.twitter-stats-numbers {
  font-weight: bolder;
  color: black;
}

.twitter-icons {
  font-size: 150%;
}

#twitter-handle-name {
  font-size: 2vh;
}

#twitter-handle-handle {
  font-weight: bolder;
  color: grey;
  font-size: 1.5vh;
}

/* End of Twitter */

/* Theme Intro begins */
.theme-intro {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  font-family: 'Revalia', cursive;
  color: white;
}

.theme-intro span {
  font-weight: bolder;
  font-style: italic;
  font-size: 1.5rem;
}

.theme-poster {
  width: 100vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 5%;
}
/* End of theme intro */