/* Heading styles */
.event-subheading {
  display: block;
  color: #d5d5d7;
  font-size: 0.7em;
}

.question {
  margin-bottom: 1em;
}

.question ul {
  font-size: 0.6em;
}

/* FAQ section css */
#faq a {
  color: #fcfafa;
  transition: 0.5s;
  text-decoration: none;
}

#faq a:hover {
  color: #838383;
  outline: none;
  text-decoration: none;
}

#faq {
  padding: 80px 0 60px 0;
}

#faq h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 2px solid red;
}

#faq #faq-list a {
  padding: 18px 0;
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  padding-left: 5px;
  padding-right: 30px;
}

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  margin-right: 5px;
  right: 0;
  top: 16px;
}

#faq #faq-list p {
  margin-bottom: 20px;
}

#faq #faq-list a.collapse {
  color: #838383;
}

#faq #faq-list a.collapsed {
  color: #838383;
}

#faq #faq-list a.collapsed:hover {
  color: #ffffff;
}
