* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --hue: 160;
    --size: 50;
    --round-size: 100;
    --record-shine: rgba(255, 255, 255, 0.45);
    --record-body: #262626;
    --player-base: #595959;
    --player-shine: #4d4d4d;
    --record-base: #0d0d0d;
    --stroke: #0d0d0d;
    --pupil: #fff;
    --tongue: #f00;
    --record-label-base: #fafafa;
    --record-label: hsl(var(--hue), 100%, 90%);
    --knob-base: #b3b3b3;
    --knob-top: #262626;
    --player-accent: #f00;
    --needle: #1a1a1a;
    --counter: #666;
    --arm-top: #666;
}
body {
    /* width: 100vw; */
    height: 100vh;
    background: var(--record-label);
    /* overflow-x: hidden; */
    overflow: hidden;
    transition: background 0.25s ease;
}
h1 {
    padding-bottom: 1rem;
    position: absolute;
    margin-top: 200px;
    left: 50%;
    font-size: clamp(2rem, 5vmin, 2.25rem);
    transform: translate(-50%, -200%);
    color: hsl(var(--hue), 60%, 60%);
    transition: color 0.25s;
}
@media only screen and (max-height: 700px) {
    h1 {
        margin-top: 150px;
    }
}
#title-desc {
    position: unset;
    transform: unset;
    left: unset;
    margin: unset;
    padding-bottom: unset;
    margin-top: 50px;
}
.record-player {
    height: calc(var(--size) * 1vmin);
    width: calc(var(--size) * 1vmin);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.frame__shine {
    fill: var(--player-shine);
}
.frame__base {
    fill: var(--player-base);
}
.record-base {
    fill: var(--record-base);
}
.record__body {
    fill: var(--record-body);
}
.record__shine {
    stroke: var(--record-shine);
}
.pupil {
    fill: var(--pupil);
}
.eye {
    fill: var(--stroke);
}
.mouth__opening {
    fill: var(--stroke);
}
.mouth__tongue {
    fill: var(--tongue);
}
.face--nauseous {
    display: none;
}
.face--nauseous path {
    stroke: var(--stroke);
}
.face--nauseous circle {
    fill: var(--stroke);
}
.record__label-base {
    fill: var(--record-label-base);
}
.record__label {
    fill: var(--record-label);
    transition: fill 0.25s ease;
}
.knob__shine {
    fill: var(--record-shine);
}
.knob__top {
    fill: var(--knob-top);
}
.knob__base {
    fill: var(--knob-base);
}
.knob__indicator {
    fill: var(--player-accent);
}
.player-arm__needle {
    fill: var(--needle);
}
.player-arm__counter {
    fill: var(--counter);
}
.player-arm__top {
    fill: var(--arm-top);
}
.volume__levels {
    stroke: var(--stroke);
    stroke-width: 1;
}
.volume__base {
    fill: var(--stroke);
    stroke: var(--knob-base);
}
.volume__slider {
    fill: var(--knob-base);
}
.volume__indicator {
    fill: var(--player-accent);
    stroke: var(--player-accent);
}
.branding rect {
    fill: var(--player-accent);
}
.branding path {
    fill: var(--pupil);
}
.genre-switch {
    display: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.genre-switch:after {
    position: absolute;
    background: hsl(var(--hue), 50%, 50%);
    transform: translate(-50%, -50%);
}
button {
    padding: 1rem 2rem;
    font-family: sans-serif;
    border-radius: 10px;
    border: 4px solid hsl(var(--hue), 50%, 50%);
    background-color: hsl(var(--hue), 50%, 50%);
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    /* background: none; */
    font-weight: bold;
    outline: transparent;
    color: hsl(var(--hue), 50%, 0%);
    transition: border 0.25s ease, color 0.25s ease;
}

.site {
    height: 100vh;
    overflow: hidden;
    /* display: flex; */
    /* flex-flow: column nowrap; */
    /* background-color: #abf; */
}
.site #record {
    /* flex: 1; */
    /* position: relative; */
}

#audios {
    display: none;
}

.spectrum {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /* filter: url("#goo"); */
    box-sizing: border-box;
    /* transform: translateZ(0); */
    position: relative;
    height: 0;
}
.spectrum .bar {
    background-color: #e91e63;
    flex: 1 1 auto;
    height: 40vh;
    /* transform: translateZ(0) translateY(40vh); */
    /* contain: strict; */
    overflow: hidden;
    /* visibility: visible; */
}

canvas {
    display: block;
    width: calc(var(--round-size) * 1vmin);
    height: calc(var(--round-size) * 1vmin);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#pause-button {
	box-sizing: border-box;
	display:block;
	height: calc(var(--size) * 0.2vmin);
    width: calc(var(--size) * 0.2vmin);
    padding-top: calc(var(--size) * 0.2vmin * 0.2);
    text-align: center;
	line-height: 20px;
	border-radius: 50%;
	color:#f5f5f5;
	text-align:center;
	text-decoration:none;
	background-color: rgba(0,0,0,0.5);
	font-size:calc(var(--size) * 0.2vmin * 0.6);
	font-weight:bold;
    transition: all 0.3s ease;
    animation: focus 5s linear infinite;
    /* border: red solid 5px; */
}

@keyframes focus {
    75% {
        background-color: rgba(0,0,0,0.5);
        box-shadow: none;
        text-shadow: none;
        height: calc(var(--size) * 0.2vmin);
        width: calc(var(--size) * 0.2vmin);
        padding-top: calc(var(--size) * 0.2vmin * 0.2);
        font-size:calc(var(--size) * 0.2vmin * 0.6);
    }
    78% {
        border: none;
    }
    80% {
        background-color: rgb(0,0,0);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
        text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        height: calc(var(--size) * 0.2vmin * 1.1);
        width: calc(var(--size) * 0.2vmin * 1.1);
        padding-top: calc(var(--size) * 0.2vmin * 0.2 * 0.1);
        font-size:calc(var(--size) * 0.2vmin * 0.6 * 1.1);
        border: red solid 5px;
    }
    85% {
        background-color: rgba(0,0,0,0.5);
        box-shadow: none;
        text-shadow: none;
        height: calc(var(--size) * 0.2vmin);
        width: calc(var(--size) * 0.2vmin);
        padding-top: calc(var(--size) * 0.2vmin * 0.2);
        font-size:calc(var(--size) * 0.2vmin * 0.6);
    }
    90% {
        background-color: rgb(0,0,0);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
        text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        height: calc(var(--size) * 0.2vmin * 1.1);
        width: calc(var(--size) * 0.2vmin * 1.1);
        padding-top: calc(var(--size) * 0.2vmin * 0.2 * 0.1);
        font-size:calc(var(--size) * 0.2vmin * 0.6 * 1.1);
        border: red solid 5px;
    }
    92% {
        border: none;
    }
    95% {
        background-color: rgba(0,0,0,0.5);
        box-shadow: none;
        text-shadow: none;
        height: calc(var(--size) * 0.2vmin);
        width: calc(var(--size) * 0.2vmin);
        padding-top: calc(var(--size) * 0.2vmin * 0.2);
        font-size:calc(var(--size) * 0.2vmin * 0.6);
    }
}

#pause-button:hover {
	background-color: rgb(0,0,0);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    height: calc(var(--size) * 0.2vmin);
    width: calc(var(--size) * 0.2vmin);
    padding-top: calc(var(--size) * 0.2vmin * 0.2);
    font-size:calc(var(--size) * 0.2vmin * 0.6);
    animation: none;
}
.play-btn {
    margin-left: 4px !important;
}

#main-content {
    display: none;
}

#play-button {
    display: block;
    box-sizing: border-box;
	width:200px;
	height:200px;
    padding-top: 50px;
    text-align: center;
	line-height: 20px;
	border-radius: 50%;
	color:#f5f5f5;
	text-align:center;
	text-decoration:none;
	background-color: rgba(0,0,0,0.5);
	font-size:100px;
	font-weight:bold;
    transition: all 0.3s ease;
    top: 35vh;
    left: 50vw;
    position: absolute;
    transform: translate(-50%, 0);
}

#play-button:hover {
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.desc {
    /* margin-top: 170px; */
    padding: 50px;
}
p {
    font-weight: 500;
    font-size: 0.7em;
}

@media only screen and (max-width: 451px) {
    p {
        font-weight: 400;
        font-size: 0.6em;
    }
    h1 {
        font-size: clamp(1.5rem, 5vmin, 2rem);
    }
}

@media only screen and (min-width: 1100px) {
    p {
        font-size: 0.9em;
        line-height: 1.3em;
    }
}

.home-btn {
    margin: 10px auto;
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid transparent;
    text-transform: uppercase;
    padding: 13px 25px;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    color: #fff;
    background: rgba(255, 0, 36, 0.8);
}
.home-btn:hover {
    color: #101010;
}

@keyframes exitBottom {
    90% {
        margin-top: 75vh;
    }

    99% {
        display: none;
    }
}

#poem-reveal {
    margin-top: 140px;
}

.poem-text {
    display: none;
    color: #444343 !important;
    font-weight: 600;
}

@media only screen and (max-width: 700px) {
    .poem-text {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}

@media only screen and (min-width: 700px) {
    .poem-text {
        font-size: 1.4em;
        line-height: 1.7em;
    }
}

#theme-reveal-button {
    display: block;
    box-sizing: border-box;
	width:90px;
	height:90px;
    padding-top: 15px;
    text-align: center;
	border-radius: 50%;
	color:#f5f5f5;
	text-decoration:none;
	background-color: rgba(0,0,0,0.5);
	font-size:50px;
	font-weight:bold;
    transition: all 0.3s ease;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#theme-reveal-button:hover {
    background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}