

.main {
  margin-left: 5px;
}

.diamonds {
  position: absolute;
  display: block;
  width: 430px;
  height: 500px;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
}

.grid {
  position: absolute;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.line {
  width: 20%;
  border-right: 1px solid rgba(255,255,255,0.2);
}

.line:last-child {
  border-right: none;
}

#shtrtext p {
  font-size: 130%;
}

#shatterimg {
    /* position: absolute; */
    /* cursor: pointer; */
    margin: 20px 0 0px 0;
    width:15%;
    height:auto;
}

.overlay {
  position: absolute;
  top: 10%;
  left: 30%;
  right: 30%;
}

.overlay p {
  color:white;
  font-size: 65%;
}

@media only screen and (max-width: 1199.98px) {
  #shtrtext p {
    font-size: 100%;
  }
  #shatterimg {
    width:15%;
  }  
  .overlay {
    top: 10%;
  }
  .overlay p {
    font-size: 50%;
  }
}

@media only screen and (max-width: 991.98px) {
  #shtrtext p {
    font-size: 90%;
  }
  #shatterimg {
    width:20%;
  } 
  .overlay {
    top: 8%;
  }
  .overlay p {
    font-size: 40%;
  }
}

@media only screen and (max-width: 767.98px) {
  #shtrtext p {
    font-size: 80%;
  }
  #shatterimg {
    width:30%;
  }
  .overlay {
    top: 7%;
  } 
  .overlay p {
    font-size: 30%;
  }
}

@media only screen and (max-width: 575.98px) {
  #shtrtext p {
    font-size: 65%;
  }
  #shatterimg {
    width:40%;
  } 
   .overlay {
    top: 5%;
  }
  .overlay p {
    font-size: 20%;
  }
}

.home-btn {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid transparent;
  text-transform: uppercase;
  padding: 13px 25px;
  font-size: 18px;
  border-radius: 40px;
  margin: 7px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  color: rgba(255, 0, 36, 0.7);
  background: #101010;
  margin-bottom: 20px;
}

.home-btn:hover {
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .home-btn {
    font-size: 14px;
  }
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* The style below is just for the appearance of the example div */

.style {
  width:90vw; height:90vh;
  text-align:center;
  padding-top:calc(50vh - 50px);
  margin-left:5vw;
  background-color:#000;
}
.style p {
  color:#fff;
  font-size:50px;
}