/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { font-family: 'Raleway', Helvetica, Arial, sans-serif; font-size: 1em; line-height: 1.6em; color: #333; }
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, nav, section { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
a img { border: 0; }
/* Clearing */
.clear:before, .clear:after, [class*="content"]:before, [class*="content"]:after, [class*="site"]:before, [class*="site"]:after { content: ''; display: table; }
.clear:after, [class*="content"]:after, [class*="site"]:after { clear: both; }
/* LINKS */
a { text-decoration: none; color: #2980b9;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
}
a:hover, a:focus { color: #3498db; }
a:active { color: #e0e0e0; }
a:visited {  }
/* ALIGNMENT */
.alignleft { display: inline; float: left; margin-right: 1.5em; }
.alignright { display: inline; float: right; margin-left: 1.5em; }
.aligncenter { clear: both; display: block; margin: 0 auto; }
/* Headings */
h1, h2, h3, h4, h5, h6 { margin: 1em 0 0 0; padding: 1em 0 0 0; font-weight: inherit; line-height: 1.4em; clear: both; }
h1 { font-size: 2.457em; }
h2 { font-size: 2.169em; }
h3 { font-size: 1.877em; }
h4 { font-size: 1.433em; }
h5 { font-size: 1.322em; }
h6 { font-size: 1.211em; }
hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.5em; }

/*demo page*/
body {
	background: #fff;
}

/*STRUCTURE*/
#page { }
#head { width: 100%; min-height: 80px; /*background: #fff; background: rgba(255,255,255,0.3);*/ }
#main { margin: 0 auto; width: 100%; max-width: 1280px; }
#colophon { position: relative; clear: both; overflow: hidden; }
#banner { text-align: center; width: 100%; height: 200px; }

/* logo */
.logo {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 100px;
	padding-top: 40px;
	padding-bottom: 60px;
	height: 20px;
}
.logo_1,
.logo_2,
.logo_3,
.logo_4 {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 999px;
	border-radius: 999px;
	background-color: #000;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.logo_1,
.logo_3 {
	z-index: 1;
	-webkit-transform: rotate(-65deg);
	transform: rotate(-65deg);
}
.logo_2,
.logo_4 {
	-webkit-transform: rotate(65deg);
	transform: rotate(65deg);
	z-index: 2;
}
.logo_1 {
	background: #FF7473;
	background: -moz-linear-gradient(left,  #FF7473 0%, #FFC952 100%);
	background: -webkit-linear-gradient(left,  #FF7473 0%,#FFC952 100%);
	background: linear-gradient(to right,  #FF7473 0%,#FFC952 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF7473', endColorstr='#FFC952',GradientType=0 );
	background-size: 400% 400%;
	-webkit-animation: movingLogo1 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both 2s;
	animation: movingLogo1 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both 2s;
}
.logo_2 {
	left: 17px;
	background: #FFC952;
	background: -moz-linear-gradient(left,  #FFC952 0%, #FF7473 100%);
	background: -webkit-linear-gradient(left,  #FFC952 0%,#FF7473 100%);
	background: linear-gradient(to right,  #FFC952 0%,#FF7473 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFC952', endColorstr='#FF7473',GradientType=0 );
	background-size: 400% 400%;
	-webkit-animation: movingLogo2 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both 2s;
	animation: movingLogo2 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both 2s;
}
.logo_3 {
	left: 34px;
	background: #47B8E0;
	background: -moz-linear-gradient(left,  #47B8E0 0%, #FFC952 100%);
	background: -webkit-linear-gradient(left,  #47B8E0 0%,#FFC952 100%);
	background: linear-gradient(to right,  #47B8E0 0%,#FFC952 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47B8E0', endColorstr='#FFC952',GradientType=0 );
	background-size: 400% 400%;
	-webkit-animation: movingLogo3 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both 2s;
	animation: movingLogo3 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both 2s;
}
.logo_4 {
	left: 52px;
	background: #34314C;
	background: -moz-linear-gradient(left,  #34314C 0%, #47B8E0 100%);
	background: -webkit-linear-gradient(left,  #34314C 0%,#47B8E0 100%);
	background: linear-gradient(to right,  #34314C 0%,#47B8E0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34314C', endColorstr='#47B8E0',GradientType=0 );
	background-size: 400% 400%;
	-webkit-animation: movingLogo4 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both 2s;
	animation: movingLogo4 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) both 2s;
}

@-webkit-keyframes movingLogo1 {
	0% {
		left: 25px;
		width: 20px;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		left: 0px;
		width: 60px;
		-webkit-transform: rotate(-65deg);
		transform: rotate(-65deg);
	}
}

@keyframes movingLogo1 {
	0% {
		left: 25px;
		width: 20px;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		left: 0px;
		width: 60px;
		-webkit-transform: rotate(-65deg);
		transform: rotate(-65deg);
	}
}

@-webkit-keyframes movingLogo2 {
	0% {
		left: 55px;
		width: 20px;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		left: 17px;
		width: 60px;
		-webkit-transform: rotate(65deg);
		transform: rotate(65deg);
	}
}

@keyframes movingLogo2 {
	0% {
		left: 55px;
		width: 20px;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		left: 17px;
		width: 60px;
		-webkit-transform: rotate(65deg);
		transform: rotate(65deg);
	}
}

@-webkit-keyframes movingLogo3 {
	0% {
		left: 25px;
		width: 20px;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		left: 34px;
		width: 60px;
		-webkit-transform: rotate(-65deg);
		transform: rotate(-65deg);
	}
}

@keyframes movingLogo3 {
	0% {
		left: 25px;
		width: 20px;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		left: 34px;
		width: 60px;
		-webkit-transform: rotate(-65deg);
		transform: rotate(-65deg);
	}
}

@-webkit-keyframes movingLogo4 {
	0% {
		left: 55px;
		width: 20px;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		left: 52px;
		width: 60px;
		-webkit-transform: rotate(65deg);
		transform: rotate(65deg);
	}
}

@keyframes movingLogo4 {
	0% {
		left: 55px;
		width: 20px;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		left: 52px;
		width: 60px;
		-webkit-transform: rotate(65deg);
		transform: rotate(65deg);
	}
}

/*animation*/
#timing {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

/*style for the demo*/
#testbox {
	width: 30%;
	position: relative;
	z-index: 11;
	height: auto;
}
#testbox #retrobox {
	width: 500px;
	height: 500px;
	/*left: 12%;*/
	position: fixed;
	z-index: 12;
	/*top: 200px;*/
	text-align: center;
	line-height: 100px;
	font-size: 2em;
	border: 2px solid #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-transform: translate3d(0, 0, 0);
	transform : translate3d(0, 0, 0);
}
#testbox #timing { 
	width: 500px;
	height: 500px;
	/*left: 12%;*/
	position: fixed;
	/*top: 200px;*/
	z-index: 13;
	text-align: center;
	line-height: 100px;
	font-size: 2.4em;
	background: #FF7473;
	color: #fff;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#cssoptions {
	width: 70%;
	padding: 60px 4%;
	float: right;
	position: relative;
}
#cssoptions h3 {
	font-weight: 400;
	color: #52616A;
}
#cssoptions .btn {
	display: block;
	float: left;
	margin: 10px 10px 10px 0;
	padding: 12px 18px;
	background: #fff;
	border: 2px solid #C9D6DE;
	color: #52616A;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}
#cssoptions .btn:hover {
	background: #C9D6DE;
	color: #fff;
}
a.gitbtn {
	display: block;
	float: left;
	margin: 10px 10px 10px 0;
	padding: 12px 18px;
	background: #34314C;
	color: #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
a.gitbtn:hover {
	background: #47B8E0;
}

/*MEDIA QUERIES*/
@media (max-width:1214px) {
}

@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */
}

@media (max-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (max-width:786px) { /* for google ads responsive new code 2014 */
	#head {
		min-height: 40px;
	}
	a#logo {
		width: 40px;
		height: 40px;
		font-size: 14px;
		line-height: 40px;
	}
	#cssoptions {
		top: 160px;
		padding: 60px 4% 200px 4%;
	}
	#testbox {
		width: 100%;
		float: none;
		height: 160px;
		position: fixed;
	}
	#testbox #retrobox {
		width: 20%;
		height: 80px;
		left: auto;
		top: 120px;
		left: 40%;
		line-height: 80px;
		font-size: 1.8em;
	}
	#testbox #timing {
		width: 20%;
		height: 80px;
		left: auto;
		top: 120px;
		left: 40%;
		line-height: 80px;
		font-size: 1.8em;
	}
	#cssoptions {
		width: 100%;
		float: none;
		top: 100px;
		text-align: center;
	}
	a.gitbtn {
		float: none;
		margin: 10px auto;
	}
}

@media (max-width:641px) {
	#cssoptions .btn {
		float: none;
	}
}

@media (max-width:481px) {
	#cssoptions {
		top: 160px;
	}
	#cssoptions .btn {
		margin: 6px 6px 6px 0;
		padding: 6px 9px;
	}
	a.gitbtn {
		float: none;
		margin: 10px auto;
	}
}