.ctnr {
 
  background: rgba(0,0,0,0.4);
}

.main {
  margin-left: 5px;
}

.diamonds {
  position: absolute;
  display: block;
  width: 430px;
  height: 500px;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
}

.grid {
  position: absolute;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.line {
  width: 20%;
  border-right: 1px solid rgba(255,255,255,0.2);
}

.line:last-child {
  border-right: none;
}
